
box-sizing:border-box;
  margin:0;
  padding:0;

}

html {
  height:100%;
  width:100%;

}

body {
  padding: 0%;
  background-image: url(images/cover1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-content:space-around;
  display:grid;
  grid-template-columns:auto;
  grid-template-rows:auto auto;
  justify-items:center;
  min-height:100%;
  width:90%;

}

p {
    color: rgb(207, 138, 10);
    font-size: 60px;
}

canvas {

box-sizing:border-box;
  margin:30px;
  padding:10px;
  background-color:#000000;
  
}